.container{
  width: 100%;
  max-width: 760px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.usersTable {
  width: 100%;
  padding: 10px;
}
.usersTable thead tr {
  text-align: left;
  font-size: 20px;
}
.usersTable tbody td {
  text-align: left;
}

.tableBody td {
  padding-top: 8px;
  padding: 20px 0;
  border-bottom: 1px solid gray;
}